.main {
  color: black;
  display: flex;
  height: 100vh;
}
.components {
  width: 200px;
}
.selected {
  width: 200px;
  background-color: #fff;
}
.webview {
  flex: 1;
  background-color: #fff;
}
.data {
  width: 400px;
}
